.z {
    background-color: rgb(1, 1, 38);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.z1,
.z2,
.z3,
.z4,
.z5,
.z6,
.z7,
.z8 {
    display: inline-block;
}

.z2:hover {
    color: yellow;
}

.z3:hover {
    color: yellow;
}

.z4:hover {
    color: yellow;
}

.z5:hover {
    color: yellow;
}

.z6:hover {
    color: yellow;
}

.z7:hover {
    color: yellow;
}

.z2,
.z3,
.z4,
.z5,
.z6,
.z7,
.z8 {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

.z1 {
    font-size: 30px;
    margin-right: 180px;
    padding-left: 50px;
}

.z8 {
    background-color: yellow;
    color: black;
    padding-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    padding-left: 13px;
    margin-left: 45px;
}

.z {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.a {
    background-image: url(boat.jpeg);
    background-size: cover;
    height: 300px;
    text-align: center;
    color: white;
    padding-top: 100px;
    font-size: 25px;
    border-radius: 5px;
}

.b {
    margin-top: 150px;
}

.c1,
.c4,
.c7 {
    box-shadow: 0px 0px 5px black;
    display: inline-block;
    vertical-align: top;
    height: 150px;
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

.c1:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.c4:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.c7:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.hh,
.hh1,
.b,
.d,
.g {
    text-align: center;
    color: rgb(0, 0, 46);
    font-size: 25px;
}

.d {
    margin-top: 200px;
}

.e1,
.e2,
.e3,
.e5,
.e7,
.e9,
.e11 {
    color: rgb(1, 1, 33);
    font-size: 20px;
    font-weight: bold;
}

.e2,
.e4,
.e6,
.e8,
.e10 {
    height: 30px;
    width: 680px;
}

.e12 {
    height: 100px;
    width: 680px;
}

.e13 {
    background-color: yellow;
    height: 40px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    border-color: yellow;
    margin-left: 10px;
}

.e13:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.e,
.f {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

iframe {
    border-radius: 10px;
}

.f {
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    width: 550px;
    padding-left: 10px;
}

.f1 {
    height: 300px;
    width: 500px;
}

p {
    font-size: 18px;
}

.hh1 {
    margin-top: 200px;
}

.h1,
.h4,
.h7 {
    box-shadow: 0px 0px 5px black;
    display: inline-block;
    height: 150px;
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

.h1:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.h4:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.h7:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.i {
    text-align: center;
}

.i1,
.i2,
.i3,
.i4 {
    margin-left: 50px;
    display: inline-block;
    background-color: rgb(2, 2, 91);
    height: 80px;
    width: 250px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.i1:hover {
    background-color: yellow;
    color: black;
}

.i2:hover {
    background-color: yellow;
    color: black;
}

.i3:hover {
    background-color: yellow;
    color: black;
}

.i4:hover {
    background-color: yellow;
    color: black;
}

.r {
    background-color: rgb(1, 1, 65);
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.r3,
.r4 {
    display: inline-block;
}

.r3 {
    height: 35px;
    border-radius: 5px;
    margin-right: 20px;
}

.r4 {
    background-color: yellow;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
    color: black;
}

.r4:hover {
    transform: translate(0px, -10px);
    transition: 0.5s;
}

.r3:hover {
    border-color: yellow;
    box-shadow: 0px 0px 5px yellow;
}

.s {
    background-color: rgb(0, 0, 33);
    background-size: cover;
    padding: 50px 0px;
}

.s1,
.s2,
.s3,
.s4 {
    display: inline-block;
    color: white;
    margin-left: 150px;
    vertical-align: top;
}

.s11,
.s13,
.s18,
.s19 {
    color: yellow;
}

.s17,
.s14,
.s15,
.s16 {
    color: white;
    text-decoration: none;
}

.s14:hover {
    color: yellow;
}

.s15:hover {
    color: yellow;
}

.s16:hover {
    color: yellow;
}

.s17:hover {
    color: yellow;
}

.t {
    background-color: rgb(0, 0, 33);
    color: white;
    text-align: center;
    margin-top: 1px;
    padding: 10px 0px;
    height: 40px;
}

.b1,
.c2,
.c5,
.c8,
.d1,
.e3,
.e5,
.e7,
.e9,
.e1,
.e11,
.ff1,
.ff2,
.g1,
.hh1,
.h2,
.h5,
.h8 {
    color: rgb(1, 1, 38);
}

.g2 {
    height: 400px;
    width: 1300px;
    margin-bottom: 100px;
}

.hh1 {
    font-size: 40px;
}